.Hero {

	.Hero__heading,
	.Hero__sub-heading,
	.Hero__description,
	.Hero__actions {
		margin: 0;
	}

	.Hero__link {
		color: var(--color-gold);
	}

	color: var(--color-black);

	> .Hero__content {

		gap: var(--space-m);
	}

	&.Hero--secondary {

		background-color: var(--color-cloth);

		border-bottom: 1px solid var(--color-shine);
		border-top: 1px solid var(--color-shine);

		> .Hero__content {

			padding-left: var(--space-3xl);
			padding-right: var(--space-3xl);
			padding-top: var(--space-2xl);
			padding-bottom: var(--space-2xl);

			@media(max-width: 626px) {

				padding-left: var(--space-l);
				padding-right: var(--space-l);
				padding-top: var(--space-xl);
				padding-bottom: var(--space-xl);
			}

			&.Hero__content--with-image {

				flex-direction: row;
				gap: var(--space-2xl);
				align-items: center;

				.Hero__info {
					min-width: 48%;
				}

				@media(max-width: 1269px) {

					flex-direction: column;

					.Hero__image {
						display: none;
					}
				}
			}
		}

		.Hero__info {
			gap: var(--space-m);
		}

		.Hero__image {

			overflow: hidden;

			border-radius: 5px;
			border: 1px solid var(--color-shine);

			box-shadow: var(--box-shadow);

			margin: 0;

			.Hero__image-content {
				object-fit: cover;
				width: 100%;
				height: 100%;

				filter: brightness(110%);

				aspect-ratio: 16/10;

				min-height: 440px;
			}
		}

		.Hero__heading {

			font-family: var(--font-family-system);
			font-size: var(--type-5);
			font-weight: 400;
		}

		.Hero__separator {

			border-bottom: 3px solid var(--color-gold);
			display: inline-flex;
			width: 50px;
			/* margin-bottom: var(--space-s); */
		}

		.Hero__sub-heading {

			font-family: var(--font-family-system);
			font-weight: 900;
			font-size: var(--type-2);
			letter-spacing: 1px;
			color: var(--color-slate);
		}

		.Hero__description {
			color: var(--color-clay);
			font-size: var(--type-1);
		}

		&.Hero--blush {

			background-color: var(--color-blush);
			border-bottom: 1px solid var(--color-blush);
			border-top: 1px solid var(--color-blush);
		}
	}
}
