/* Posts list */
.PostList {
	counter-reset: start-from var( --postlist-index );
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.PostList__item {
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.PostList__item::before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.PostList__date,
.PostList__item::before {
	font-size: 0.8125em; /* 13px /16 */
	color: var( --color-gray-90 );
}
.PostList__date {
	word-spacing: -0.5px;
}
.PostList__link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc( 100% - 1.5rem );
	padding-left: .25em;
	padding-right: .5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.PostList__item--active .PostList__link {
	font-weight: bold;
}

/* Tags */
.PostTag {
	text-transform: capitalize;
	font-style: italic;
}
.PostList__item > .PostTag {
	align-self: center; /* Preserve item alignment for externally supplied post tags. */
}

/* Post navigation */
.PostNavigation {
	gap: .5em 1em;
	list-style: "";
	border-top: 1px dashed var( --color-gray-20 );
	padding: 1em 0;
}
.PostNavigation__item--next {
	text-align: right;
}

/* Post metadata */
.PostMetadata {
	gap: .5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.PostMetadata__date {
	margin-right: 1em;
}
