@use 'Globals' as *;

$breakpoint--large: 1264px;
$breakpoint--small: 768px;

.Container {

	width: min(100%, calc(1200px*1.5));
	padding: $space--m $space--l;

	background-repeat: no-repeat;

	@media( max-width: $breakpoint--small ) {
		padding: $space--m $space--l;
	}

	&.Container--none {
		padding: 0;
	}

	&.Container--large {
		padding: $space--2xl $space--l;
	}

	&.Container--xxl {

		padding: $space--3xl $space--m;

		@media ( max-width: $breakpoint--small ) {
			padding: $space--2xl $space--m;
		}
	}

	&.Container--shadow {
		box-shadow: var(--box-shadow);
	}

	&.Container--textured:not(.Container--light) {

		background-repeat: no-repeat;
		background-size: 520px auto;

		&.Container--top-left {

			background-position: top left;
			background-image: linear-gradient( 135deg, rgb( 45 124 131 / 18% ), transparent 45% );
		}

		&.Container--top-right {

			background-position: top right;
			background-image: linear-gradient( 225deg, rgb( 45 124 131 / 18% ), transparent 45% );
		}
	}

	&.Container--light {

		background: #fafafa;
		background: linear-gradient(45deg, rgba(250, 250, 250, 1) 25%, rgba(237, 233, 229, 1) 100%);

		&.Container--textured {

			background-repeat: no-repeat;
			background-size: 520px auto;

			&.Container--top-right {

				background-position: top right;
				background-image: linear-gradient( 225deg, rgb( 45 124 131 / 12% ), transparent 45% ),
					linear-gradient( 45deg, rgb( 250 250 250 ) 25%, rgb( 229 239 234 ) 100% );
			}

			&.Container--top-left {

				background-position: top left;
				background-image: linear-gradient( 135deg, rgb( 45 124 131 / 12% ), transparent 45% ),
					linear-gradient( 45deg, rgb( 250 250 250 ) 25%, rgb( 229 239 234 ) 100% );
			}
		}
	}

	> .Container__content {

		max-width: 100%;

		&.Container__content--xxl {

			padding-left: $space--3xl;
			padding-right: $space--3xl;

			gap: $space--2xl;

			@media(max-width: $breakpoint--large) {

				padding-left: 0;
				padding-right: 0;

				gap: $space--l;
			}
		}

		&.Container__content--large {

			padding-left: $space--xl;
			padding-right: $space--xl;

			gap: $space--xl;

			@media(max-width: $breakpoint--large) {

				padding-left: $space--s;
				padding-right: $space--s;

				gap: $space--m;
			}
		}

		&.Container__content--none {

			padding-left: 0;
			padding-right: 0;
		}
	}
}
