@use 'CodeDiff' as *;

pre[class*="language-diff-"] {
	--eleventy-code-padding: 1.25em;
	padding-right: var( --eleventy-code-padding );
	padding-left: var( --eleventy-code-padding );
}

.token.deleted {
	background-color: hsl( 0 51% 37% );
	color: inherit;
}

.token.inserted {
	background-color: hsl( 126 31% 39% );
	color: inherit;
}

.token.prefix.unchanged,
.token.prefix.inserted,
.token.prefix.deleted {
	@extend %Code--diff-prefix;
}

.token.prefix.inserted,
.token.prefix.deleted {
	width: var( --eleventy-code-padding );
	background-color: rgb( 0 0 0 / 20% );
}

.token.inserted:not( .prefix ),
.token.deleted:not( .prefix ) {
	@extend %Code--diff-full-width;
}
