@use 'Globals' as *;

.Toast {

	@extend .Flex;

	@extend .Flex--0-row-items-center;

	position: fixed;
	top: 0;
	right: 0;
	z-index: 10;

	gap: $space--s;

	margin: $space--l;

	background-color: $color--white;
	color: $color--black;

	border: 1px solid $color--gold;
	border-bottom-width: 3px;
	border-radius: 4px;
	padding: $space--m $space--l;

	box-shadow: var( --box-shadow );

	&.Toast--hidden {
		display: none;
	}

	&.Toast--error {
		border-color: #fb9595;
	}

	.Toast__close {

		@extend .Flex;

		@extend .Flex--inline;
		@extend .Flex--0-row-horizontal-center;
		@extend .Flex--0-row-items-center;

		background: transparent;
		color: $color--gold;

		border: 0;
		padding: 0;

		cursor: pointer;
		font-size: $type--3;
		line-height: $type--0;

		&:focus-visible {
			outline: 2px solid currentColor;
			outline-offset: 2px;
		}
	}
}
