.SiteFooter {

	background-color: var(--color-slate);
	color: var(--color-ivory);

	font-size: var(--type--1);

	.LogoMark {

		.LogoMark__wordmark,
		.LogoMark__descriptor {
			color: var(--color-ivory);
		}
	}

	.SiteFooter__content {

		flex-direction: row;
		justify-content: space-between;
		gap: var(--space-l);

		@media(max-width: 788px) {

			flex-direction: column;
			justify-content: center;
			gap: var(--space-m);
		}
	}

	.SiteFooter__column {

		display: flex;
		flex-direction: column;
		gap: var(--space-s);
		flex: 1 1 20%;

		@media(max-width: 788px) {
			flex: 1;
			width: auto;
		}

		.SiteFooter__link:not(.Button),
		.Address__link:not(.Button) {
			color: var(--color-cloth);
			text-decoration: none;

			&:hover {
				color: var(--color-shine);
			}
		}
	}

	.SiteFooter__column--business {
		order: 1;

		.SiteFooter__offering {
			font-size: var(--type--1);
		}
	}

	.SiteFooter__column--hours {
		order: 2;
	}

	.SiteFooter__column--links {
		order: 3;
	}

	.SiteFooter__column--departments {
		order: 4;
	}

	.SiteFooter__column--contact {
		order: 5;
	}

	.SiteFooter__actions {
		align-items: flex-start;
	}

	.SiteFooter__heading {

		font-family: var(--font-family-system);
		font-weight: 700;
		letter-spacing: 1px;
		font-size: var(--type--1);
		color: var(--color-stone);
		text-transform: uppercase;

		margin-top: 8px;

		@media ( max-width: 788px ) {
			margin-top: 0;
		}
	}

	.SiteFooter__link-list {
		padding-left: var(--space-s);
		font-size: var(--type--1);
		line-height: var(--type-1);
	}

	.SiteFooter__social-list {

		display: flex;
		flex-direction: row;
		margin: 0;
		gap: var(--space-xxs);

		.SiteFooter__social-link {
			color: var(--color-gold);

			&:hover {
				color: var(--color-shine);
			}
		}

		.SiteFooter__social-icon {
			fill: currentColor;
			height: 38px;
			width: 38px;
		}
	}

	.BusinessHours {

		display: flex;
		flex-direction: column;
		margin: 0;
		gap: var(--space-3xs);

		.BusinessHours__row {

			display: flex;
			flex-direction: row;
			gap: var(--space-xs);

			@media ( max-width: 924px ) and ( min-width: 789px ) {
				flex-direction: column;
				gap: 0;
			}
		}

		.BusinessHours__day {
			color: var(--color-gold);
			font-weight: 700;
			min-width: 78px;
		}

		.BusinessHours__value {
			margin: 0;
		}
	}

	.Address {
		font-style: normal;

		.Address__name {
			color: var(--color-gold);
			font-weight: 600;
		font-family: var(--font-family-system);
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	.SiteFooter__offering,
	.Address__contact {
		margin: 0;
		font-size: var(--type--1);
		line-height: var(--type-0);
		letter-spacing: 1px;
	}
}
