.ServiceSummary {

	flex: 0 0 30%;
	align-items: center;

	background-color: var(--color-white);
	padding: 0;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: var(--box-shadow);

	border: 1px solid var(--color-shine);

	@media ( max-width: 1295px ) {
		flex: 0 0 46%;
	}

	@media ( max-width: 768px ) {
		flex: 0 0 100%;
	}

	&:target {

		box-shadow: 0 0px 0px rgb( 45 124 131 / 3% ), 0 0px 59px rgb( 45 124 131 / 45% ) !important;
		border: 1px solid var(--color-gold);
		position: relative;

		@media ( max-width: 1071px ) {
			margin-top: 0;
		}
	}

	.ServiceSummary__heading {

		background-color: var(--color-gold);
		width: 100%;
		color: var(--color-ivory);
		padding: var(--space-s);
		text-align: center;

		font-family: var(--font-family-system);
		font-weight: 200;
		font-size: var(--type-2);
		margin: 0;
	}

	.ServiceSummary__content {

		color: var(--color-black);

		padding: var(--space-m) var(--space-s);
		text-align: left;

		font-size: var(--type-0);
		line-height: calc( var(--type-1) * 1.1 );

		gap: var(--space-s);

		strong {
			font-weight: 900;
		}
	}

	.ServiceSummary__actions {

		margin-top: auto;
		justify-self: flex-start;
		text-align: center;

		width: 100%;
		background-color: var(--color-ivory);
		padding: var(--space-s);

		border-top: 1px solid var(--color-shine);

		a {

			color: var(--color-gold);
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}
