.Services {

	.Services__content {

		gap: var(--space-s);
		align-items: center;
	}

	.Services__list {

		flex-direction: row;
		gap: var(--space-xl);
		flex-wrap: wrap;
		align-items: stretch;

		margin-top: var(--space-l);

		@media ( max-width: 1071px ) {

			flex-direction: column;
			gap: var(--space-m);

			margin-top: 0;
		}
	}
}

.ServiceCard {

	flex: 0 0 47%;

	overflow: hidden;

	border-radius: var(--space-2xs);
	border: 1px solid var(--color-shine);
	background-color: var(--color-white);
	box-shadow: var(--box-shadow);

	transition: 0.5s filter ease-in;

	&:hover {
		filter: brightness(102%);
	}

	&:last-child:nth-child( odd ) {
		margin-inline: auto;
	}

	.ServiceCard__info {

		gap: var(--space-m);
		background-color: var(--color-white);
		padding: var(--space-l);
		height: 100%;

		.ServiceCard__heading {

			font-family: var(--font-family-system);
			font-size: var(--type-3);
			letter-spacing: 1px;
			margin: 0;

			.ServiceCard__link {

				text-decoration: none;
				color: var(--color-slate);
			}
		}

		.ServiceCard__content {

			gap: var(--space-xs);
			flex-direction: column;
			align-items: flex-start;
			font-size: calc( var(--type-0) / 1.1 );
			line-height: var(--type-1);
			color: var(--color-slate);
		}

		.ServiceCard__actions {

			display: flex;
			flex-direction: row;
			align-items: center;
			gap: var(--space-2xs);
			font-weight: 700;
			font-size: var(--type--1);
			text-transform: uppercase;
			color: var(--color-clay);
			justify-content: space-between;
			margin-top: auto;

			@media ( max-width: 461px ) {

				flex-direction: column;
				align-items: flex-start;
				gap: var(--space-s);
			}

			.ServiceCard__learn-more {

				display: inline-flex;
				color: var(--color-clay);
				text-decoration: none;
				order: 1;

				&:hover {
					text-decoration: underline;
				}
			}

			.ContactButton {
				zoom: 0.9;
				order: 0;
			}
		}
	}
}
