.Testimonials {

	background: var(--color-cloth);

	.Testimonials__content {
		gap: var(--space-l);

		@media( max-width: 768px ) {
			gap: var(--space-s);
		}
	}

	.Testimonials__list {

		flex-direction: row;
		gap: var(--space-l);
		flex-wrap: wrap;
		justify-content: space-between;

		@media( max-width: 768px ) {

			align-items: center;
			flex-direction: column;
			gap: var(--space-s);
		}
	}

	.Testimonials__item {

		margin: 0;
		padding: 0;

		background-color: var(--color-white);
		border-radius: var(--space-2xs);
		border: 1px solid var(--color-blush);

		flex: 0 0 30%;

		box-shadow: var(--box-shadow);

		text-align: center;

		&:hover {
				.Testimonials__rating-icon {
				filter: brightness(120%);
			}
		}

		@media( max-width: 768px ) {

			flex: 0 0 100%;
			max-width: 70vw;
		}

		@media( max-width: 437px ) {
			max-width: 100%;
		}
	}

	.Testimonials__link {
		display: block;
		height: 100%;
		text-decoration: none;
	}

	.Testimonials__figure {

		margin: 0;
		padding: var(--space-l);

		display: flex;
		gap: var(--space-s);
		align-items: center;
		justify-content: center;

		.Testimonials__caption {
			order: 1;
		}

		.Testimonials__name {

			color: var(--color-black);
			font-family: var(--font-family-system);
			letter-spacing: 2px;
			font-size: var(--type-2);
			font-weight: 600;
			margin: 0;
		}

		.Testimonials__rating {
			order: 2;

			.Testimonials__rating-icon {

				height: 24px;
				width: 25px;
				fill: var(--color-gold);

				transition: 0.6s filter ease-in-out;
			}
		}

		.Testimonials__quote {

			order: 3;
			margin: 0;
			color: var(--color-clay);
			font-size: var(--type-0);
			text-align: center;
		}
	}

	.Testimonials__read-more {
		align-self: center;
	}
}
