@use '../Globals' as *;

.SiteFooter {

	@extend .Flex;

	@extend .Flex--0-column;

	width: 100%;
	padding: $space--l;
	background-color: $color--slate;
	color: $color--ivory;
	font-size: $type--negative-1;
	text-align: center;

	.SiteFooter__copyright {
		margin: 0;
	}
}
