@use '../Globals' as *;
@use '../Lists' as *;

$breakpoint--medium: 768px;

.SiteHeader {

	@extend .Flex;

	@extend .Flex--0-column;
	@extend .Flex--768-row;
	@extend .Flex--768-row-horizontal-between;
	@extend .Flex--768-row-items-center;

	gap: $space--s;

	@media ( min-width: $breakpoint--medium ) {

		gap: $space--2xl;
	}

	.LogoMark {
		@extend .Flex__item--0-order-1;
	}

	.SiteHeader__menu {

		@extend .Flex;

		@extend .Flex--0-column;
		@extend .Flex--0-column-items-center;
		@extend .Flex--0-column-vertical-center;
		@extend .Flex--768-column-items-stretch;
		@extend .Flex--768-column-vertical-start;

		@extend .Flex__item--0-12;
		@extend .Flex__item--0-order-3;
		@extend .Flex__item--0-self-end;

		@extend .Flex__item--768-order-2;
		@extend .Flex__item--768-self-auto;

		background: $color--gold;
		padding: $space--s;

		border-bottom: 2px solid #aa8951;
		border-radius: 3px;

		@media ( min-width: $breakpoint--medium ) {

			background: transparent;
			padding: 0;

			border: 0;
			border-radius: 0;
			width: auto;
		}
	}

	.NavigationList {

		@extend .List--unlisted;

		@extend .Flex;

		@extend .Flex--0-row-horizontal-center;
		@extend .Flex--768-row-horizontal-end;

		@extend .Flex__item--0-12;

		gap: $space--s;

		@media ( min-width: $breakpoint--medium ) {

			gap: $space--xl;
			width: auto;
		}
	}

	.SiteHeader__item {
		text-align: center;

		@media ( min-width: $breakpoint--medium ) {
			text-align: left;
		}
	}

	.SiteHeader__link {

		text-decoration: none;
		font-size: calc( $type--0 * 1.02 );
		color: $color--ivory;
		font-weight: 600;

		margin-top: 5px;
		padding-bottom: 5px;

		&:hover {
			border-bottom: 3px solid $color--gold;
			color: $color--ivory;
		}

		@media ( min-width: $breakpoint--medium ) {

			color: $color--clay;

			&:hover {
				color: $color--black;
			}
		}
	}
}
