@use '../Globals' as *;

.LogoMark {

	text-decoration: none;

	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: flex-start;

	.LogoMark__wordmark {

		color: $color--slate;
		font-size: $type--5;
		font-weight: 100;
		font-family: $font-family--system;

		letter-spacing: 0;
	}

	.LogoMark__descriptor {
		color: $color--gold;

		font-weight: 700;
		font-size: var(--type--3);
		font-family: $font-family--system;
		text-transform: uppercase;
	}
}
